html {
    text-align: center;
}
body {
    background-color: rgb(255);
    color: rgb(245, 142, 8);
    background-image: url("http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg");
    background-size: auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
    text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
    color: rgb(247, 217, 95);
}

footer {
	font-style: italic;
	font-size: 90%;
}

